:root{

--brown:#3B1C19;
--burnt:#A44A3F;
--apricot:#F19C79;
--cream:#F6F4D2;
--mint:#CBDFBD;
--lime:#D4E09B;

--font-display:"Bayon", sans-serif;
--font-body:"Baskerville", serif;

}

body[data-theme="light"]{

--bg:var(--apricot);
--text:var(--brown);

}

body[data-theme="dark"]{

--bg:var(--brown);
--text:var(--cream);

}
